# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\党支部系统\GIT\Users\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
